@font-face {
    font-family: 'Livvic';
    font-style: normal;
    font-weight: 700;
    src: url(https://cdn.jsdelivr.net/gh/TypeFolder/catalogo@main/san-serif/livvic/Livvic-Bold.ttf) format('ttf');
  }
